@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* shared styles */
.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* dark-1 */
  .black {
    color: #131313;
  }
  /* dark-2 */
  .light-gray{
      color: #424242;
    }
  /* dark-3 */
  .gray {
      color: #727272;
    }
  /* primary-color */
  .primary {
      color: #FF900E;
   }
  .bg-light{
        background-color:rgba(255, 144, 14, 0.1);
      }
  /* btn */
  .btn-primary{
      background-color: #FF900E;
      color: #FFFFFF;
      font-size: 1.25rem;
      font-weight: 600;
      border-radius: 8px;
      border: none;
      padding: 20px 25px;
      }
  .display-flex{
    display: flex;
  }
  
.section-title{
  font-size: 2.8rem;
  font-weight: 700;
}
/* header styles */

/* navbar related styles start */
.navbar{
  justify-content: space-between;
  align-items: center;
}
.navbar{
  max-width: 1440px;
  margin:0 auto;
}
.brand{
  font-size: 2.8rem;
  font-weight: 800;
}
.nav-item{
  list-style: none;
  margin-right: 30px;
}
.nav-link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  line-height: 26px;
}
/* navbar related styles end */
/* banner-content start */
.banner{
  max-width: 1440px;
  margin: 0 auto;
}
 .banner-content{
  max-width: 850px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 50px;
 }
 .banner-title{
  font-size: 4rem;
  font-weight: 700;
 }
 .banner-img{
  width: 100%;
 }
/* banner-content end */
/* main section start */
main{
  max-width: 1440px;
  margin: 0 auto;
}
  main >section{
    margin-top: 130px;
  }
/* feature section start */
.feature{
  align-items: center;
}
.feature-img{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 24px;
}
.feature-content{
  margin-left: 130px;
  max-width: 530px;
}

#Quick-list{
  font-weight: 500;
}
/* feature section end */
/* feature section-2 start */
.feature-2{
  gap: 140px;
}
#feature-section-2{
  border-left: 5px solid #FF900E;
  padding-left: 20px;

}
.feature-card{
  padding: 30px;
  box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 20px;
  border-radius: 8px;

}
.feature-architect img{
  width: 100%;

}
.feature-card,.feature-title{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 0px;
  margin-bottom: 0px;
}
#experance-badge{
  padding: 45px 42px;
  font-size: 1.5rem;
  font-weight: 500;
  margin-left:-100px;
  margin-top: -100px;
}
#experance-year{
  font-size: 4rem;
  font-weight: 700;
}

/* feature section-2 end */
/* Some Facts style start */
.facts-container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.fact-description{
  max-width: 540px;
}
.facts-card{
  border: 2px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.fact-number{
  font-size: 2.8rem;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 5px;
}
.fact-name{
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 10px;
}
/* Some Facts style end */
/* Our Sponspors style start */
.Sponspors-info {
  max-width: 540px;
  margin: 50px auto;
  text-align: center;
}
.Sponspor-companies{
  display: grid;
  grid-template-columns:repeat(5, 1fr);
}
.Sponspor-companies{
  filter: grayscale(100%);
}
/* Our Sponspors style end */
/* main section end */




/* responsive media query start */
/* mobile devices */
@media screen and (max-width:576px) {
          .navbar,
          .nav-links,
          .feature{
            flex-direction: column;
          }
          .brand{
            font-size:2rem;
          } 
        .feature-img,
        .facts-container,
        .feature-2,
        .Sponspor-companies{
          display: grid;
          grid-template-columns: repeat(1,1fr);
        }
        .facts-container{
          justify-items: center;
          gap: 24px;
        }
        .Sponspor-companies{
          
          justify-items: center;
          gap: 50px;
        }
        .feature-content{
          margin-left: 20px;
        }
        
        #experance-badge{
          margin-left:20px;
          margin-top: 20px;
        }      
}
/* medium size devices */
@media screen and (min-width: 576px) and (max-width:992px) {
        .feature, .feature-2{
          flex-direction: column;
        }
        .feature-content{
          margin: 50px auto;
        }
        
        .Sponspor-companies, 
        .facts-container{
          display: grid;
          grid-template-columns: repeat(2,1fr);
          gap: 50px;
          justify-items: center;
        }
        #experance-badge{
          margin-left:20px;
          margin-top: 20px;
        }  
          
}
/* responsive media query start */